description = "footer"
==
<!-- Footer section ======================== -->
    <footer class="footer" id="footer">
        <div class="auto_container">
            <div class="footer_wrap">
                <div class="footer_box">
                    <div class="footer_box-col">
                        <div class="footer_box-col-item">
                            <span>
                                <img src="{{ 'assets/images/svg/phone_icon.svg'|theme }}" alt="phone-icon">
                            </span>
                            <a href="tel:+993-63-669900" class="footer_box-col-item-text">+993-63-669900</a>
                        </div>

                        <div class="footer_box-col-item">
                            <span>
                                <img src="{{ 'assets/images/svg/email_icon.svg'|theme }}" alt="email-icon">
                            </span>
                            <a href="mailto:yodamahabat@gmail.com" class="footer_box-col-item-text">yodamahabat@gmail.com</a>
                        </div>

                        <div class="footer_box-col-item">
                            <span>
                                <img src="{{ 'assets/images/svg/location_icon.svg'|theme }}" alt="location-icon">
                            </span>
                            <p class="footer_box-col-item-text">Aşgabat ş., 1958 (N.Andalyp) 72A</p>
                        </div>
                    </div>

                    <div class="footer_box-col">
                        <a href="{{ 'index' | page }}" class="footer_box-col-link">
                            <span>
                                <img src="{{ 'assets/images/svg/icon_instagram.svg'|theme }}" alt="instagram-icon">
                            </span>
                            <p>
                                yoda_mahabat
                            </p>
                        </a>

                        <!-- <div class="web">
                            <div class="web-icon">
                                <img src="{{ 'assets/images/svg/user.svg'|theme }}" alt="users">
                            </div>

                            <p class="web-text">
                                340
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_end">
            <div class="auto_container">
                <div class="footer_end-row">
                    <p class="footer_end-row-text">
                        © 2021. All rights reserved by Yoda Mahabat
                    </p>
                    <a href="{{ 'index' | page }}" class="footer_logo">
                        <img src="{{ 'assets/images/footer_logo.png'|theme }}" alt="footer-logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end ==================== -->